body{
    margin: 0px;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.keret{
    border: 1px solid black;
    width: 500px;
    padding: 10px;
}

.mezo{
    margin: 10px 0px;
}

input{
    float: right;
    width: 300px;
    padding: 2px;
}

.gomb{
    text-align: center;
    margin-top: 15px;
    font-size: 120%;
}
img{
    width: 100%;
}